body {
    background-color: #803636;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.contenedor {
    margin: 40px;
    padding: 30px;
    border: 3px solid red;
    border-radius: 15px;
}

h1 {
    color: red;
}

p {
    margin: 20px;
}

button {
    padding: 10px 25px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.imagenes img {
    width: 200px;
    margin: 10px;
}

.copa {
    position: fixed;
    font-size: 50px;
}

.sup-izq { top: 10px; left: 10px; }
.sup-der { top: 10px; right: 10px; }